@internal: #5ae9a6;
@bg: #28283a;
@lab: #7e8987;
@contrast: #f96f5d;
@bgw: #ffffff;
@font2: sarif;

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

.card {
    border: 2px solid black;
    margin-left: 35%;
    width: 30%;
    height: 1024px;
    padding: 40px;
    background-color: @bg;
    h1{
        color: @internal;
        font-size: 40px;
        margin-bottom: 20px;
    }
    label {
        color: #fff3f3;
        font-size: 20px;
    }
    input {
        background-color: @bgw;
        width: 250px;
        height: 30px;
        font-size: 20px;
        padding-left: 7px;
    }
    #textbox {
        width: 500px;
        height: 150px;
        font-size: 18px;
        padding-left: 7px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .rad{
        input{
            height: 17px
        }
    }
}