* {
  margin: 0px;
  padding: 0px;
  border: none;
}
body {
  background-color: #9fa7a5;
  display: flex;
  justify-content: center;
}
.card {
  width: 40%;
  height: 986px;
  padding: 40px;
  background-color: #28283a;
}
.card h1 {
  color: #5ae991;
  font-size: 40px;
  margin-bottom: 20px;
}
.card label {
  color: #9fa7a5;
  font-size: 20px;
}
.card input {
  background-color: #ffffff;
  max-width: 90%;
  height: 30px;
  font-size: 20px;
  padding-left: 7px;
  border-radius: 5px;
}
.card table {
  color: #9fa7a5;
  font-size: 22px;
  width: 50%;
}
.card table th {
  text-align: left;
}
.card table td {
  text-align: right;
}
.card #textbox {
  margin-top: 3px;
  border-radius: 10px;
  width: 99%;
  height: 150px;
  font-size: 18px;
  padding-left: 7px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card select {
  background-color: #ffffff;
  max-width: 90%;
  height: 30px;
  font-size: 20px;
  padding-left: 7px;
  border-radius: 5px;
}
.card #sumbit {
  width: 100px;
  height: 40px;
  background-color: #f9b55d;
}
